.selected {background-color: cyan}
.app-private-menu {display: flex;flex-flow: row wrap; justify-content: flex-start; align-items: flex-start; padding: 20px, 20px, 20px, 20px;}
.app-private-menu-choice {padding: 10px 10px 10px 10px}
.app-private-menu-choice a {text-decoration: none;}
.app-private-menu-choice a:hover {background-color: lightcyan;}
