$base_color: red;
$important_color: brown;
$warning_color: pink;
$principal_font: "Arial";
$secondary_font: "Helvetica";
$border_radius: 0px;

$principal_font: Arial, sans-serif;
$secondary_font: Courier, monospace;

$offset_x: -10px;
$offset_y: 10px;
