$base_color: blue;
$important_color: darkblue;
$warning_color: cyan;
$principal_font: "Times New Roman";
$secondary_font: "Georgia";
$border_radius: 5px;

$principal_font: "Times New Roman";
$secondary_font: "Times New Roman";

$offset_x: 10px;
$offset_y: 10px;